<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myquran">

    <application
        android:name=".MyQuranApp"
        android:allowBackup="true"
        android:icon="@drawable/logopfeicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logopfeicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HelpActivity"></activity>
        <activity android:name=".DouahActivity" />
        <activity android:name=".HisStatActivity" />
        <activity android:name=".Menu_activity" />
        <activity android:name=".PagesActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".StatsHisActivity" />
        <activity android:name=".HistoriqueActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProcessTextActivity"
            android:label="Show Text"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>